---
import { Event } from './interfaces.ts';

const {event} : {event: Event} = Astro.props;
---

<div class="flex items-center justify-between">
  <div class="flex items-center gap-3.5">
    <span class="m-2.5 w-2.5 h-2.5 rounded-full bullet"></span>
    <p class="text-base font-medium"> <span class="eventTime">{event.date} a las {event.time}</span>
        <span class="text-l leading-8 font-semibold text-black eventTitle">{event.icon}{event.title}</span>
        <span class="text-b font-normal eventLocation">{event.location.spot} | {event.location.city}</span>
    </p>
  </div>
</div>
